* {
	box-sizing: border-box;
}

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.header-wrapper {
	margin-left: 15px;
	margin-right: 15px;
	overflow: hidden;
}
.header-logo {
	float: left;
	width: 50%;
	height: 50px;
}
.header-logo img {
	width: 100%;
	height: 100%;
}
.header-menu {
	float: left;
}
